{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 27, "knowledge_revision": 56, "git_revision": "4ad37f59410b1e3c651d432c4c1b7c16bd39a96c", "hash": "b7caf32574ae26ad78eb19c433a3bce5", "format-version": 4, "code-base-name": "default", "filename": "translation_backend/requirements.txt", "revision_history": [{"56": "4ad37f59410b1e3c651d432c4c1b7c16bd39a96c"}]}