{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["requirements.txt", "dependencies", "Python packages", "fastapi", "uvicorn", "pydantic", "transformers", "langdetect", "torch"], "state": 2, "file_id": 28, "knowledge_revision": 60, "git_revision": "f2da808130716a5402f8bde42f3cb0830af57c68", "hash": "448cdf4f71b4a7e916ef0fb03b7a6e86", "format-version": 4, "code-base-name": "default", "filename": "translation_backend/requirements.txt", "revision_history": [{"60": "f2da808130716a5402f8bde42f3cb0830af57c68"}]}